img.banniere {
    top: 0;
    display:inline-block;
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin-right: 1em;
    
}


a.banniere2{
    grid-area: banniere;
    top: 0px;
    position: fixed;
    display:block;
    width: 100%;
    padding: 10px;
    font-family: Georgia;
    font-size: 40px;
    background-color:rgba(147,221,240,1);
}

div.menu{
    display: block;
    grid-area: menu;
    margin-top: 65 px;
    background-color: rgba(147,221,240,1);
    height:100%
}

#listemenu{
    padding-left:0px;
}


li.ElemMenu{
    background-color:rgba(147,221,240,1);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left:0px;
    border:1px solid;
    border-color: rgb(8, 0, 0);
    list-style-type: none;
}

footer{
    grid-area: footer;

    display:block;
}

div.filtres{
    background-color:rgba(147,221,240,1);
    grid-area: filtres;
    max-width: auto;
    height:100%
}

div.destinations{
    display: grid;

    grid-template-columns: auto;
    grid-area: destinations;
}

div img{
    width:100%;
    height:100%;
}

a{
    text-decoration: none;
}

#body_index{
    min-height: 200vh;
    margin-left:0;
    
    display:grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 3px auto 0px;
    grid-template-areas:
        "banniere banniere banniere"
        "menu destinations filtres"
        "menu footer filtres";
    padding-top: 70px;
    
}

div.reservation{
    display: block;
    background-color: rgba(234, 250, 248, 0.973);
    text-align: center;
    font-family: Georgia;   
    grid-area: reservation;
    padding-top: 60px;
    
}

#body_res{
    min-height: 200vh;
    margin-left:0;
    display:grid;
    grid-template-columns: 20% 80% 0%;
    grid-template-rows: 3px auto 0px;
    grid-template-areas:
        "banniere banniere banniere"
        "menu reservation reservation"
        "menu footer footer";
    
    padding-top: 70px;


   
}

#body_propos{
    min-height: 100vh;
    
    margin-left:0;
    display:grid;
    grid-template-columns: 20% 80% 0%;
    grid-template-rows: 3px auto 0px;
    grid-template-areas:
        "banniere banniere banniere"
        "menu propos propos"
        "menu footer footer";

    padding-top: 70px;
}



div.propos{
    display: block;
    padding-top: 45px;

    background-color: rgba(234, 250, 248, 0.973);
    text-align: center;
    font-family: Georgia;  
    font-size: 25px; 
    grid-area:propos;
}
#body_connexion{
    min-height: 100vh;
    margin-left:0;
    display:grid;
    grid-template-columns: 20% 80% 0%;
    grid-template-rows: 3px auto 0px;
    grid-template-areas:
        "banniere banniere banniere"
        "menu connexion connexion"
        "menu footer footer";
    padding-top: 70px;
}

div.connexion{
    display: block;
    padding-top: 45px;
    background-color: rgba(234, 250, 248, 0.973);
    text-align: center;
    font-family: Georgia;  
    font-size: 25px; 
    grid-area:connexion;
}


#body_recapulatif{
    min-height: 100vh;
    margin-left:0;
    display:grid;
    grid-template-columns: 20% 80% 0%;
    grid-template-rows: 3px auto 0px;
    grid-template-areas:
        "banniere banniere banniere"
        "menu recapitulatif recapitulatif"
        "menu footer footer";
    padding-top: 70px;
}

div.recapitulatif{
    display: block;
    padding-top: 45px;
    background-color: rgba(234, 250, 248, 0.973);
    text-align: center;
    font-family: Georgia;  
    font-size: 25px; 
    grid-area: recapitulatif ;

}

#body_mc{
    min-height: 100vh;
    
    margin-left:0;
    display:grid;
    grid-template-columns: 20% 80% 0%;
    grid-template-rows: 3px auto 0px;
    grid-template-areas:
        "banniere banniere banniere"
        "menu mc mc"
        "menu footer footer";

    padding-top: 70px;
}

div.mc{
    display: block;
    background-color: rgba(234, 250, 248, 0.973);
    text-align: center;
    font-family: Georgia;   
    grid-area: mc;
    padding-top: 60px;
    
}

img {
	width: 150px;
	height:auto;
}


.text_temp {
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: relative;
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    margin: 0 auto;
    width:100%;
    
    top: -35px;
    color: white;
    
    
}


#scrollbtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 40px;
    z-index: 10; 
    border: none; 
    outline: none; 
    background-color: cyan; 
    color: white; 
    cursor: pointer; 
    padding: 20px; 
    font-size: 25px; 
  }
  
  #scrollbtn:hover {
    background-color: darkcyan; 
  }